
@{

    List<IT.Core.ViewModels.ExpenseDetailsViewModel> expenseDetailsViewModel = new List<IT.Core.ViewModels.ExpenseDetailsViewModel>();

    IT.Core.ViewModels.ExpenseViewModel expenseViewModels = new IT.Core.ViewModels.ExpenseViewModel();
    expenseViewModels = ViewBag.ExpenseViewModel as IT.Core.ViewModels.ExpenseViewModel;

    if (expenseViewModels != null)
    {
        <input type="hidden" id="ExpId" value="@expenseViewModels.Id" />
        if (expenseViewModels.expenseDetailsList != null)
        {
            expenseDetailsViewModel = expenseViewModels.expenseDetailsList;
        }
    }
}


<div id="TableGood">
    <table class="table table-hover" id="orderdetailsitems">
        <thead class="thead-dark">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Category
                </th>
                <th>
                    Category Details
                </th>
                <th>
                    Description
                </th>
                <th>
                    Sub Total
                </th>
                <th>
                    VAT
                </th>
                <th>
                    Net Total
                </th>
            </tr>
        </thead>
        <tbody class="tbodyGood">

            @if (expenseDetailsViewModel != null && expenseDetailsViewModel.Count > 0)
            {

                foreach (var item in expenseDetailsViewModel)
                {
                    <tr>

                        <td>
                            @item.OnDates
                        </td>
                        <td>
                            @item.Category
                        </td>

                        @if (item.Name != null)
                        {
                            <td>

                                @item.Name
                            </td>
                        }
                        else if (item.TraficPlateNumber != null)
                        {
                            <td>

                                @item.TraficPlateNumber
                            </td>
                        }
                        else
                        {
                            <td>

                                @item.ExpenseName
                            </td>
                        }
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @Math.Round(item.SubTotal, 2)
                        </td>
                        <td>
                            @Math.Round(item.VAT, 2)
                        </td>
                        <td>
                            @Math.Round(item.NetTotal, 2)
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
